<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login / Sign up</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <main>
            <h1>Login / sign up page</h1>
            <p>
                this could either handle both sign in and sign up,
                or just direct to individual pages for both.
            </p>
        </main>
    </body>
</html>