<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <main>
            <h1>Login Page</h1>
            <p>We need a form of some sort here for logging in</p>
        </main>
    </body>
</html>