<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log In</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body style="background-color: #222831; padding-top: 51px;">
        <main>
            <header>
                <%- include('partials/navbar', {isAuth: isAuth}); %>
            </header>
            <div class="container-fluid">
                <h1 style="color: #EEEEEE">Reset Password</h1>
            </div>
        </main> 
    </body>
</html>