h1 {
    color: rgb(62, 147, 204);
}

nav {
    margin-left: 0;
    margin-right: 0;
}

#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(143, 156, 163);
}

.navItem {
    float: left;
}

.navItem a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.navItem a:hover {
    background-color: rgb(92, 96, 100);
}