<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log In</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body style="background-color: #222831; padding-top: 51px;">
        <main>
            <header>
                <%- include('../partials/navbar', {isAuth: isAuth}); %>
            </header>
            <div class="container">
                <h1 style="color: #EEEEEE">Reset Password</h1>
                <form id="resetForm" class="container" style="background-color: #EEEEEE; border-radius: 10px;  padding-bottom: 10px; padding-top: 5px; border-radius: 10px;">
                    <div>
                        <label for="emailInput">Email Address</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn-block btn-primary" style="margin-top: 10px; width: 25%; margin-left: auto;
                    margin-right: auto; border-radius: 10px;">Send reset code</button>
                    <div id="buttonDiv" style="margin-top: 2px; width: 25%; margin-left: auto; margin-right: auto;"></div>
                </form>
            </div>
        </main> 
    </body>
    <script src="./page-scripts/password-reset/send-reset-link.js"></script>
</html>