<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Post</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <main>
            <h1>Add Post</h1>
            <form action="/addPost/add", method="POST">
                <label for="postTitle">Enter Title</label>
                <input type="text" name="pTitle">

                <label for="postContent">Enter Post</label>
                <input type="text" name="pContent">

                <button type="submit">Add Post</button>
            </form>
        </main>
    </body>
</html>