<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Post</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <main>
            <h1>Add Post Page</h1>
            <p>We need a form of some sort here</p>
        </main>
    </body>
</html>