<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <main>
            <header>
                <nav>
                    <ul id="navList">
                        <li class="navItem">
                            <a href="/">Home</a>
                        </li>
                        <li class="navItem">
                            <a href="/addPost">Add Post</a>
                        </li>
                        <li class="navItem" style="float: right">
                            <a href="/pages/signup">Sign up</a>
                        </li>
                        <li class="navItem" style="float: right">
                            <a href="/pages/login">log in</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <h1>Index Page</h1>
            <p>Hello there!</p>
        </main>
    </body>
</html>