<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <main>
            <h1>Index Page</h1>
            <p>Hello there!</p>
            <button onclick="location.href ='/pages/login'">Log In</button>
            <button onclick="location.href ='/pages/signup'">Sign Up</button>
        </main>
    </body>
</html>