<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <main>
            <header>
                <%- include('partials/navbar', {isAuth: isAuth}); %>
            </header>
            <h1>Index Page</h1>
            <p>Hello there!</p>
            <ul id="postList">
                <%posts.map((post) => {%>
                    <li class="postListItem">
                        <h3 class="postTitle"><%= post.title %></h3>
                        <p class="postContent"><%= post.content %></p>
                    </li>
                <%})%>
            </ul>
        </main>
    </body>
</html>