<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <main>
            <header>
                <%- include('partials/navbar', {isAuth: isAuth}); %>
            </header>
            <h1>Sign Up</h1>
            <form id="signupForm">
                <div>
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div >
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>
                <div >
                    <label for="passwordConfInput">Confirm Password</label>
                    <input type="password" class="form-control" id="passwordConfInput" placeholder="Password">
                </div>
                <button type="submit" class="btn-block btn-primary">Sign In</button>
            </form>
        </main>
    </body>
    <script src="../public/controllers/signup.js"></script>
</html>