<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body style="background-color: #222831; padding-top: 51px;">
        <main>
            <div class="container">
            <header>
                <%- include('partials/navbar', {isAuth: isAuth}); %>
            </header>
            <h1 style="color: #EEEEEE">Sign Up</h1>
            <form id="signupForm" class="container" style="background-color: #EEEEEE; border-radius: 10px;  padding-bottom: 10px; padding-top: 5px; border-radius: 10px;">
                <div>
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div>
                    <label for="displayName">Display Name</label>
                    <input type="text" class="form-control" id="displayName" aria-describedby="displayHelp" placeholder="Enter email">
                </div>
                <div >
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>
                <div >
                    <label for="passwordConfInput">Confirm Password</label>
                    <input type="password" class="form-control" id="passwordConfInput" placeholder="Password">
                </div>
                <button type="submit" class="btn-block btn-primary" style="margin-top: 10px; width: 25%; margin-left: auto;
                margin-right: auto; border-radius: 10px;">Sign In</button>
            </form>
         </div>
        </main>
    </body>
    <script src="./controllers/signup.js"></script>
</html>